div(class="blog-masthead")
    div(class="container")
        div(class="nav blog-nav")
            a.nav-a(href="/")
                div.nav-link(class="" + path == "/" ? "active" : "" + "nav-link") Hem
            a.nav-a(href="/om")
                div.nav-link(class="" + path == "/om" ? "active" : "" + "nav-link") Om
            a.nav-a(href="/redovisningar")
                div.nav-link(class="" + path == "/redovisningar" ? "active" : "" + "nav-link") Redovisningar
